<div class="container">
    <p class="lead">Send Ropsten <strong>testnet</strong> ETH to the following address:</p>
    <pre id="address">Loading...</pre>
    <p><strong>Do not send real ETH!</strong></p>
    <p>Exchange rate: 1 ETH = 1 TOKE token</p>
    <p><a href="https://github.com/stellar/go/pull/81" target="_blank">Instructions</a></p>
    <hr />
    <div class="progress">
        <div id="progressbar" class="progress-bar progress-bar-striped active" style="width: 0%"></div>
    </div>
    <p class="lead" id="status">Generating keys...</p>
</div>

<script src="javascripts/bifrost.js"></script>
<script>
    var params = {
        network: '{{network}}',
        horizonURL: '{{horizonURL}}',
        bifrostURL: '{{bifrostURL}}',
        assetCode: '{{assetCode}}',
        price: '{{price}}',
        issuingPublicKey: '{{issuingPublicKey}}',
        preSaleMode: {{preSaleMode}},
    };
    var session = new Bifrost.Session(params);
    var keypair;
    session.startEthereum(onEvent).then(params => {
        setStatus("Waiting for a transaction...", 10);
        document.getElementById("address").innerText = params.address;
        keypair = params.keypair;
    }).catch(err => {
        setStatus("Error", 0);
        console.error(err);
    });

    function onEvent(event, data) {
        if (event == Bifrost.TransactionReceivedEvent) {
            setStatus("Transaction received, creating account...", 20)
        } else if (event == Bifrost.AccountCreatedEvent) {
            setStatus("Account created, creating trust lines...", 40)
        } else if (event == Bifrost.TrustLinesCreatedEvent) {
            setStatus("Trust lines created, waiting for tokens...", 60)
        } else if (event == Bifrost.AccountCreditedEvent) {
            setStatus("Account credited, exchanging...", 80)
        } else if (event == Bifrost.PurchasedEvent) {
            setStatus("Congrats! TOKE purchased. Your Stellar keys: <pre>Public key: "+keypair.publicKey()+"\nSecret key: "+keypair.secret()+"</pre>", 100);
        } else if (event == Bifrost.ErrorEvent) {
            setStatus("Error!", 0);
            console.error(data);
        }
    }

    function setStatus(text, progress) {
        var progressbar = document.getElementById("progressbar")
        progressbar.style.width = progress+"%";
        if (progress == 100) {
            progressbar.className = "progress-bar progress-bar-success";
        }
        document.getElementById("status").innerHTML = text;
    }
</script>
